body {
	--themeColor: #4782F5;
	--secondThemeColor: #4782F5;
	--mutedColor: #99A5B7;
	--grayColor: #707070;
	--defaultTextColor: #333333;
	--borderColor: #C7C7C7;
	--pageColor: #cae4c7;
	--redColor: #FF3A3A;
	--greenColor: #2ca49e;
	--blueColor: #4782F5;
	--yellowColor: #FFB300;
	--placeholderColor: #bababa;
	--purpleColor: #8721ff;
	--base-radius: 20rpx;
}

/* 文本 */
.text-muted {
	color: var(--mutedColor) !important;
}

.text-theme {
	color: var(--themeColor) !important;
}

.text-gray {
	color: var(--grayColor) !important;
}

.text-default {
	color: var(--defaultTextColor) !important;
}

.text-blue {
	color: var(--blueColor) !important;
}

.text-red {
	color: var(--redColor) !important;
}

.text-green {
	color: var(--greenColor) !important;
}

.text-yellow {
	color: var(--yellowColor) !important;
}
.text-purple {
	color: var(--purpleColor) !important;
}

.text-white {
	color: #fff  !important;
}
.text-fff80 {
	color: rgba(255, 255, 255, 0.8) !important;
}
.text-fff50 {
	color: rgba(255, 255, 255, 0.5) !important;
}
/* 背景 */
.bg-theme {
	background-color: var(--themeColor) !important;
	color: #fff;
}
.bg-theme2 {
	background-color: var(--secondThemeColor) !important;
	color: #fff;
}
.bg-blue {
	background-color: var(--blueColor) !important;
	color: #fff;
}

.bg-yellow {
	background-color: var(--yellowColor) !important;
	color: #fff;
}

.bg-red {
	background-color: var(--redColor) !important;
	color: #fff;
}

.bg-green {
	background-color: var(--greenColor) !important;
	color: #fff;
}

.bg-white {
	background-color: #ffffff !important;
	color: var(--defaultTextColor);
}

.bg-purple{
	background-color: var(--purpleColor) !important;
	color: #fff;
}

.bg-black {
	background-color: #333333 !important;
	color: #ffffff;
}
.bg-black-50 {
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
}
.bg-black-70 {
	background-color: rgba(0,0,0,0.7);
	color: #ffffff;
}
.bg-black-80 {
	background-color: rgba(0,0,0,0.8);
	color: #ffffff;
}
.bg-gray {
	background-color: #f0f0f0 !important;
	color: #333333;
}
.bg-gray-muted {
	background-color: #f8f8f8 !important;
}

.bg-gradual-red {
	background-image: linear-gradient(45deg, #f43f3b, #ec008c);
	color: #ffffff;
}

.bg-gradual-orange {
	background-image: linear-gradient(45deg, #ff9700, #ed1c24);
	color: #ffffff;
}

.bg-gradual-green {
	background-image: linear-gradient(45deg, #23B1E0,#3DD2BA);
	color: #ffffff;
}

.bg-gradual-purple {
	background-image: linear-gradient(45deg, #9000ff, #5e00ff);
	color: #ffffff;
}

.bg-gradual-pink {
	background-image: linear-gradient(45deg, #ec008c, #6739b6);
	color: #ffffff;
}

.bg-gradual-blue {
	background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
	color: #ffffff;
}
.bg-gradual-gold{
	background-image: linear-gradient(45deg,  #eddf9c, #e2c27f);
	color: #ffffff;
}
.bg-gradual-gold-90deg{
	background-image: linear-gradient(90deg,  #eddf9c, #e2c27f);
	color: #ffffff;
}
.z-index9 {
	position: relative;
	z-index: 2;
}
.bg-gold{
	background-color: #e6ca8e;
	color: #ffffff;
}

.tl {
	text-align: left;
}
.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.fw300 {
	font-weight: 300;
}

.fw400 {
	font-weight: 400;
}

.fw500 {
	font-weight: 500;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.line-through {
	text-decoration: line-through;
}
.underline {
	text-decoration: underline;
}

@mixin ellipsisLn($line) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $line;
	/*! autoprefixer: ignore next */
	-webkit-box-orient: vertical;
}
@mixin pos100() {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
}
/*文本省略号 line1 就1行省略*/
.line1 {
	@include ellipsisLn(1);
	line-height: 1.4em;
}

.line2 {
	@include ellipsisLn(2);
	line-height: 1.4em;
}

.line3 {
	@include ellipsisLn(3);
	line-height: 1.4em;
}

/*绝对定位*/
.relative {
	position: relative;
}

.abs {
	position: absolute;
	z-index: 9;

	&.abslt {
		left: 0;
		top: 0;
	}

	&.absrt {
		right: 0;
		top: 0;
	}

	&.abslb {
		left: 0;
		bottom: 0;
	}
	
	&.abslrb {
		left: 0;
		right: 0;
		bottom: 0;
	}
	&.abslrt {
		left: 0;
		right: 0;
		top: 0;
	}

	&.absrb {
		right: 0;
		bottom: 0;
	}

	&.abscc {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&.abslc {
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
	}

	&.absrc {
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
	}

	&.abstc {
		left: 50%;
		top: 0;
		transform: translate(-50%, 0);
	}

	&.absbc {
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 0);
	}
}
@function rem($px) {
	@return $px * 1px;
}
$fontSize:12, 13, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 44, 46, 50, 60;
@each $item in $fontSize {
	.fs#{$item} {
		font-size: rem($item) !important;
	}
}

.flex-item, .flex-1 {
	flex: 1;
}

.a-center {
	align-items: center;
}

.j-center {
	justify-content: center;
}
.aj-center {
	align-items: center;
	justify-content: center;
}
.space-between {
	justify-content: space-between;
}
.block {
	display: block;
	width: 100%;
}
/* 圆角 */
.radius0 {
	border-radius: 0 !important;
}

.radius50 {
	border-radius: 50%;
	overflow: hidden;
}

.radius6 {
	border-radius: 6rpx;
	overflow: hidden;
}

.radius10 {
	border-radius: 10rpx;
	overflow: hidden;
}

.radius12 {
	border-radius: 12rpx;
	overflow: hidden;
}

.radius16 {
	border-radius: 16rpx;
	overflow: hidden;
}

.radius20 {
	border-radius: 20rpx;
	overflow: hidden;
}

.radius30 {
	border-radius: 30rpx;
}
.radius40 {
	border-radius: 40rpx;
}
.radius60 {
	border-radius: 60rpx;
}
/* 1像素边框 */
.bor-1px,
.bor-1px-t,
.bor-1px-b,
.bor-1px-tb,
.bor-1px-l,
.bor-1px-r {
	position: relative;
	min-height: 1px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		z-index: 2;
		transform-style: preserve-3d;
	}
}

.bor-1px-t {
	&::before {
		left: 0;
		top: 0;
		right: 0;
		height: 0;
		border-top: 1px solid var(--borderColor);
		transform: scaleY(0.5);
	}
}

.bor-1px-b {
	&::after {
		left: 0;
		bottom: 0;
		right: 0;
		height: 0;
		border-top: 1px solid var(--borderColor);
		transform: scaleY(0.5);
	}
}

.bor-1px-r {
	&::before {
		right: 0;
		top: 0;
		bottom: 0;
		width: 0;
		border-left: 1px solid var(--borderColor);
		transform-origin: 0 0;
		transform: scaleX(0.5);
	}
}

.bor-1px-l {
	&::after {
		left: 0;
		top: 0;
		bottom: 0;
		width: 0;
		border-left: 1px solid var(--borderColor);
		transform-origin: 0 0;
		transform: scaleX(0.5);
	}
}



